{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>About us</title>
    <link rel="stylesheet" href="{% static 'home/bootstrap431/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'home/fonts/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/Team-Boxed.css'%}">
</head>

<body>
    <div class="team-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Our Supervisor</h2>
                <p class="text-center">We are very happy that we got the most helpful and generous teacher as our supervisor.</p>
            </div>
            <div class="col-md-6 col-lg-4 offset-md-3 offset-lg-4 offset-xl-4 item">
                <div class="box"><img class="rounded-circle" src="{% static 'home/img/PP%20_mam.jpg'%}">
                    <h3 class="name">Er. Pratibha Phaiju</h3>
                    <p class="title">TEACHER</p>
                    <p class="description">I am very happy that I got the hardworking and obident student of the whole batch. They are very good at what they do and I am very impressed with what they have done with this project. They are going to be very successful in their
                        coming future. I wish them best of luck.</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="intro">
                <h2 class="text-center"><strong>Khoj Team</strong></h2>
                <p class="text-center">These are us who are responsible for developing this great project.</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="{% static 'home/img/sabin.jpg' %}">
                        <h3 class="name">Sabin Shrestha</h3>
                        <p class="description">This was a vey ambitious project and we were very lazy. However, we managed to complete this project in time and here it is.</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="{%static 'home/img/absalom.jpg'%}">
                        <h3 class="name">Absalom Silwal</h3>
                        <p class="description">How we managed to complete this project is an astonishment on itself. We did our best to complete it some of the feature may be missing but we will be adding those in our future work.</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="{% static 'home/img/bipul.jpg'%}">
                        <h3 class="name">Bipul Manandhar</h3>
                        <p class="description">Well Done to all my team members, they did and me as well. This project is one the closest thing to me as I spent a lot of time on it to make work and we are happy with the outcome.</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 offset-lg-4 offset-xl-4 item">
                    <div class="box"><img class="rounded-circle" src="{% static 'home/img/ajay.jpg'%}">
                        <h3 class="name">Ajay Shrestha</h3>
                        <p class="description">..................</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <script src="{% static 'home/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'home/bootstrap431/js/bootstrap.min.js'%}"></script>
</body>

</html>