{% extends 'khojadmin/header.html' %}
{% block title %}
Database - KhojAdmin
{% endblock %}
{% block actionmain %}
<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <h3 class="text-dark mb-0">Database</h3><a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="/admin/" target="_blank"><i class="fas fa-book fa-sm text-white-50"></i>&nbsp;Manual DB</a></div>
<div class="row">
{% endblock %}
{% block body %}


{% endblock %}
{% block activedb %}
<li class="nav-item" role="presentation"><a class="nav-link active " href="{% url 'khojadmin:dbms' %}"><i class="fas fa-database"></i><span>Database</span></a></li>
{% endblock %}

