{% extends 'khojadmin/header.html' %}
{% load home_tags%}
{% block title %}
Feedback - KhojAdmin
{% endblock %}
{% block actionmain %}
<div class="d-flex justify-content-between nav-bar">
    <h3 class="text-dark mb-4">Feedback</h3>
    
</div>

{% endblock actionmain %}
{% block activefeedback %}
<li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'khojadmin:feedback' %}"><i class="fas fa-bullhorn"></i><span>Feedback</span></a></li>
{% endblock %}
{% block body %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-{{message.tags}}">
				{{message}}
			</div>
		{% endfor %}
	{% endif %}
	{% if data %}
		<ul class="list-group">
			{% for item in data %}
			<li class="list-group-item ">
				<div  class="d-sm-flex justify-content-between nav-link p-0">
					<a href="{% url 'khojadmin:feedbackdetail' item|private:'_id'%}" class="desc">{{item|least_desc:'desc'}}</a>
					<div class="date">{{item.report_date}}</div>
					<div class="forms d-flex flex-nowrap align-items-baseline">
						<form method="GET" action="{% url 'khojadmin:adminaction' %}">
							{% if not item.ack %}
							<button type="submit" name = "check" class="bg-none b-none" value="{{item|private:'_id'}}"><i class="fa fa-check"></i></button>
							{% endif %}
							<button type="submit" name="delete"class="bg-none b-none" value="{{item|private:'_id'}}"><i class="fa fa-trash"></i></button>
						</form>
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
	{% else %}
		<h1>No Data Found</h1>
	{% endif %}

{% endblock body %}


