{% extends 'khojadmin/header.html' %}
{% block title %}
Database - KhojAdmin
{% endblock %}

{% block body %}
<div class="container">
	<div class="form-control" id="message" style="visibility:hidden;">
		Message
	</div>
	<div class="d-flex flex-wrap justify-content-center">
			<div class="p-3 d-flex action-item align-items-center justify-content-between">
				<a class="text-white shadow-hover" href="{% url 'khojadmin:sites' %}">
					<div class="text-center bg-dark text-white m-3 p-2 action-width d-flex align-items-center justify-content-center">
						<div class="text d-flex flex-column justify-content-center" ><div clas="value">{% if sites%}{{sites}}{% endif %}</div><div clas="text">SITES</div></div>
					</div>
				</a>
      </div>
      <div class="p-3 d-flex action-item align-items-center justify-content-between">
				<a class="text-white shadow-hover" href="{% url 'khojadmin:feedback' %}">
					<div class="text-center bg-dark text-white m-3 p-2 action-width d-flex align-items-center justify-content-center">
						<div class="text d-flex flex-column justify-content-center" ><div clas="value">{% if feedback %}{{feedback}}{% endif %}</div><div clas="text">FEEDBACK</div></div>
					</div>
				</a>
			</div>
			<div class="p-3 d-flex action-item align-items-center justify-content-between">
				<a class="text-white shadow-hover" href="{% url 'khojadmin:urlrequests' %}">
					<div class="text-center bg-dark text-white m-3 p-2 action-width d-flex align-items-center justify-content-center">
						<div class="text d-flex flex-column justify-content-center" ><div clas="value">{% if pending%}{{pending}}{% endif %}</div><div clas="text">PENDING</div></div>
					</div>
				</a>
			</div>
			<div class="p-3 d-flex action-item align-items-center justify-content-between">
				<a class="text-white shadow-hover" href="{% url 'khojadmin:urlrequests' %}">
					<div class="text-center bg-dark text-white m-3 p-2 action-width d-flex align-items-center justify-content-center">
						<div class="text d-flex flex-column justify-content-center" ><div clas="value">{% if uncrawled %}{{uncrawled}}{% endif %}</div><div clas="text">UNCRAWLED</div></div>
				</a>
      </div>
      <div class="p-3 d-flex action-item align-items-center justify-content-between">
				<a class="text-white shadow-hover" href="#">
					<div class="text-center bg-dark text-white m-3 p-2 action-width d-flex align-items-center justify-content-center">
						<div class="text d-flex flex-column justify-content-center" ><div clas="value">{% if users%}{{users}}{% endif %}</div><div clas="text">USERS</div></div>
				</a>
			</div>
	</div>
</div>

{% endblock %}
{% block activedash %}
<li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'khojadmin:admin_home' %}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
{% endblock %}
{% block searchdiv %}{% endblock %}


